<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>이메일주소를 체크 합니다.</title>
</head>
<body>
	<h1>이메일 주소를 확인합니다.</h1>
	<div>
		<fieldset>
			<label for="signId">사인아이디</label><input type="text" id="signId" name="signId" value="{{signId}}" />
			<label for="validText">유효한코드를 입력하세요</label><input type="text" id="validText" name="validText" maxlength="12" />
			<button id="btnCheckValid">확인</button>
		</fieldset>
	</div>
</body>
</html>